<table class='table table-striped'>
	<thead>
		<tr>
			<th scope='col'></th>
			<th scope='col'>Full-Url</th>
			<th scope='col'>Short-Url</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			{{#each url}}
				<th scope='row'></th>
				<td><a href='{{this.full}}'>{{this.full}}</a></td>
				<td><a href='/{{this.short}}'>{{this.defaultUrl}}{{this.short}}</a></td>
			{{/each}}
		</tr>
	</tbody>
</table>
<button><a href='/'>返回</a></button>