<div class="d-flex justify-content-around">
  <h1 style="display: inline;">
    URL 清單
  </h1>

  <button class="btn btn-success">
    <a href="/">
      製作新的URL
    </a>
  </button>
</div>

<table class="table table-striped mx-auto">
  <thead class="thead-light">
    <tr>
      <th scope="col"></th>
      <th scope="col">
        Full-Url
      </th>
      <th scope="col">
        Short-Url
      </th>
      <th scope="col">
        Edit Option
      </th>
    </tr>
  </thead>

  {{#each urls}}
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>
          <a href="{{this.originalUrl}}" target="_blank">
            {{this.originalUrl}}
          </a>
        </td>
        <td>
          <a href="/shortURL/{{this.randomUrl}}" target="_blank">
            {{this.randomUrl}}
          </a>
        </td>
        <td>
          <button class="btn btn-primary text-wrap">
            <a
              class="text-white text-wrap"
              href="/shortURL/{{this._id}}/edit"
              style="display: inline;"
            >
              修改路徑
            </a>
          </button>
          <form
            action="/shortURL/{{this._id}}?_method=DELETE"
            method="POST"
            style="display: inline;"
          >
            <button class="btn btn-danger" type="submit">
              <a class="text-white">
                刪除
              </a>
            </button>
          </form>
        </td>
      </tr>
    </tbody>
  {{/each}}
</table>
<button class="btn btn-success">
  <a href="/">
    返回
  </a>
</button>