<table class='table table-striped'>
	<thead class='thead-light'>
		<tr>
			<th scope='col'></th>
			<th scope='col'>Full-Url</th>
			<th scope='col'>Short-Url</th>
			<th scope='col'></th>
		</tr>
	</thead>
	{{#each url}}
		<tbody>
			<tr>
				<th scope='row'></th>
				<td><a href='{{this.full}}'>{{this.full}}</a></td>
				<td><a href='/{{this.short}}'>{{this.defaultUrl}}{{this.short}}</a></td>
				<td><button class='btn btn-primary'><a
							class='text-white'
							href='/shortUrl/{{this._id}}'
						>修改路徑</a></button></td>
			</tr>
		</tbody>
	{{/each}}
</table>
<button class='btn btn-success'><a href='/'>返回</a></button>